{% extends "templates/Theme.twig" %}

{% block content %}
	<h1>Latest blog posts</h1>

	<hr>

	<p>
		If you like to see me speaking at a conference or at your local user group,<br>
		please check available talks on
		<a href="@papercall_io_profile_url@" target="_blank" title="my PaperCall.io profile">my PaperCall.io profile</a> and ping me.
	</p>

	{% for page in project.getPageConfigsAtLevel(2) %}

		<hr>

		{% if page.getUri not in ['/imprint.html', '404.html'] %}

			<h2>
				<a href="{{ project.getUrl(page.getUri) }}" title="{{ page.getPageTitle }}">{{ page.getPageTitle }}</a>
				<span class="text-small"> | {{ page.getDescription }}</span>
			</h2>

			{% for childPage in project.getChildrenOf(page) %}

				<h3>{{ childPage.getPageTitle }}</h3>
				<p>
					{{ childPage.getDescription }}<br>
					<a href="{{ project.getUrl(childPage.getUri) }}" title="{{ childPage.getPageTitle }}">read more ...</a>
				</p>
				<br>

			{% endfor %}

		{% endif %}

	{% endfor %}

{% endblock %}
